@model MusicStore.WebUI.Models.AlbumListViewModel

@{
    ViewBag.Title = "Albumy";
}

@foreach (var p in Model.AlbumsWithArtists)
            {
            @Html.Partial("AlbumSummary", p);
}
<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new {page=x}))
</div>

