
.buttons_nav {
    display:none;
}
#data{
    margin-top:50px;
}
#menu{
    display:none;
}
#helpers{
    text-decoration:none;
}
#searchbar{
    display:none;
}
/*
#ListAlbum {
    background-image: url('Image/music-note-beamed.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#AddMusic {
    background-image: url('Image/add-music.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}*/

@media (min-width: 992px) {
    .buttons_nav {
            margin-right: 10px;
            float: right;
            display: inline-flex;
        }
        .buttondesktop {
            float: right;
          
        }


        #searchbar {
            text-align: center;
            margin-left: 15%;
            display: inline;
        }
        #hidebuttons {
            display: none;
        }
        #menu {
            display: inline;
        }
        
    }

