@model MusicStore.WebUI.Models.AlbumListViewModel

@{
    ViewBag.Title = "ListAlbums";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "tableBody"
    };
}

<h2>ListAlbums</h2>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Tytuł</th>
                <th scope="col">Wykonawca</th>
                <th scope="col">Wytwórnia</th>
                <th scope="col">Rok</th>
                <th scope="col">Gatunek</th>
                <th scope="col">Kraj</th>
                <th scope="col">Cena</th>
                <th scope="col">Czynności</th>
            </tr>
        </thead>
        <tbody id="tableBody">
            @foreach (var item in Model.AlbumsWithArtists)
            {
                <tr id="row-@item.album.Id">
                    @Html.Partial("AlbumList", item)
                    
                </tr>
}
            </tbody>
    </table>
</div>


    <nav>
        <ul class="pagination flex-wrap justify-content-end">
            @for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
            {
                <li class="@(i == Model.PagingInfo.CurrentPage ? "page-item active" : "page-item")">
                    <a class="page-link" href="@Url.Action("ListAlbums", new { page = i })">@i</a>
                </li>

            }
        </ul>
    </nav>
