@model MusicStore.WebUI.Models.NewsModelDto

<div>
   <dl>
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfAlbums)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfAlbums)
        </dd>

    </dl>
</div>
