@model IEnumerable<MusicStore.Domain.Entities.Album>


<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

        @{
            var i = 0;
        }

        @foreach (var item in Model)
        {
            if (i == 0)
            {

                <div class="carousel-item active">
                    <img src="@Url.Action("GetImage", "Home", new { productId = item.Id })" width="350" height="350" class="rounded mx-auto d-block" alt="...">
                </div>
            }
            else
            {
                <div class="carousel-item">
                    <img src="@Url.Action("GetImage", "Home", new { productId = item.Id })" width="350" height="350" class="rounded mx-auto d-block" alt="...">
                </div>
            }
            i++;

        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>





