@model MusicStore.WebUI.Models.AlbumListViewModel

@{
    ViewBag.Title = "Biblitoteka";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}


<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            @foreach (var p in Model.AlbumsWithArtists)
            {
            <div id="row-@p.album.Id" class="col-md-4">
                @Html.Partial("AlbumSummary", p)
            </div>
            }

        </div>
    </div>
</div>
<nav>
    <ul class="pagination flex-wrap">
        @for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
        {
            <li class="@(i == Model.PagingInfo.CurrentPage ? "page-item active" : "page-item")">
                <a class="page-link" href="@Url.Action("Wishlist", new {id=Session["Id"], page = i })">@i</a>
            </li>

        }
    </ul>
</nav>


