@model MusicStore.Domain.Entities.AlbumsWithArtist

<div class="well">
    <h3>
        <strong>@Model.album.Name</strong>
        <span class="pull-right label label-primary">@Model.album.Price.ToString("c")</span>
    </h3>
    <span class="lead">@Model.artist.Name</span>
</div>
