@model IEnumerable<MusicStore.Domain.Entities.Genre>


<div class="col col-lg-2">
    <div id="menu">
        <ul class="list-group">
            @Html.ActionLink("Home", "Index", "Home", null, new { @class = "list-group-item list-group-item-action" })
            @foreach (var link in Model)
            {
                @Html.RouteLink(link.Name, new
            {
               controller = "Home",
               action = "FiltrByGenre",
               genre = link.Name,
               page = 1
            }, new
                {
                    @class = "list-group-item list-group-item-action"
            + (link.Name == ViewBag.SelectedGenre ? "list-group-item list-group-item-action active" : "")
            })
            }
        </ul>
    </div>
 </div>
